<div>
    <!--div class="gEmBreadcrumbsBox">Наши коты</div-->
    <div class="gEmIndexItemBox">
        <a class="gEmIndexItemImg">
            <img src="img/index-cat-empty-big_256x200px.jpg" id='db_logo_src' />
        </a>
        <div class="gEmIndexItemDesc">
            <h2><a id="db_name_text">Сheese cake snezhny bars</a></h2>
            <p id='db_breed_text'><strong>Порода:</strong> <span>Британская к/ш, BRI</span></p>
            <p id='db_color_text'><strong>Окрас:</strong> <span>Чёрный затушёванный пойнт</span></p>
            <p id='db_birth_text'><strong>Дата рождения:</strong> <span>13.07.2009</span></p>
            <p id='db_father_text'><strong>Отец:</strong> <span id="cat_link_father" class="gEmParLink">Diamond-Pro Grand Bear, BRI ns 11</span></p>
            <p id='db_mother_text'><strong>Мать:</strong> <span id="cat_link_mother" class="gEmParLink">Diamond-Pro Katalina, BRI ns 12 33</span></p>
            <p><div class="gEmIndexPriceBox" id='db_state_text'>2 500</div></p>
        </div>
        <div class="gEmButtonsBox">
            <a href="#" class="gEmPhoto">Фотогалерея</a>
            <a href="#" class="gEmPedigree">Родословная</a>
            <a href="#" class="gEmLitters">Пометы</a>
            <a href="#" class="gEmProgress">Достижения</a>
        </div>
    </div>
    <div class="pageIndexSeparator"></div>
</div>
