<% include header.html %>
<div id="pageSingle">
<div class="gEmBreadcrumbsBox">Наши коты / Сheese cake snezhny bars</div>
<div class="gEmIndexItemBox">
    <h2 class="pageSingleTitle" id='db_name_text'>Сheese cake snezhny bars</h2>
    <div class="gEmIndexItemImg">
        <img src="img/index-cat-empty-big_256x200px.jpg" id='db_logo_src'/>
    </div>
    <div class="gEmIndexItemDesc">
        <p id='db_breed_text'><strong>Порода:</strong> <span>Британская к/ш, BRI</span></p>
        <p id='db_color_text'><strong>Окрас:</strong> <span>Чёрный затушёванный пойнт</span></p>
        <p id='db_birth_text'><strong>Дата рождения:</strong> <span>11.11.2011</span></p>
        <p id='db_father_text'><strong>Отец:</strong> <span>Diamond-Pro Grand Bear, BRI ns 11</span></p>
        <p id='db_mother_text'><strong>Мать:</strong> <span>Diamond-Pro Katalina, BRI ns 12 3322</span></p>
        <p><div class="gEmIndexPriceBox" id='db_state_text'>2 500</div></p>
    </div>
    <div class="gEmButtonsBox">
        <a href="#" class="gEmPhoto">Фотогалерея</a>
        <a href="#" class="gEmPedigree">Родословная</a>
        <a href="#" class="gEmLitters">Пометы</a>
        <a href="#" class="gEmProgress">Достижения</a>
    </div>
</div>
<div class="pageIndexSeparator"></div>
<div class="gEmSingleItem gEmPedigreeBox">
    <div class="gEmSinglePartTitle">Родословная</div>
    <table class="gEmPedigreeTable" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td rowspan="4">
                <div class="gEmPedigreeTableItem">
                    <a class="gEmPedigreeTableItemImg grParItemImg">
                        <img src="img/index-cat-empty-150.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td rowspan="2">
                <div class="gEmPedigreeTableItem">
                    <a class="gEmPedigreeTableItemImg parItemImg">
                        <img src="img/index-cat-empty-100.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg parItemImg">
                        <img src="img/index-cat-empty-100.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="4">
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg grParItemImg">
                        <img src="img/index-cat-empty-150.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td rowspan="2">
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg parItemImg">
                        <img src="img/index-cat-empty-100.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg parItemImg">
                        <img src="img/index-cat-empty-100.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="gEmPedigreeTableItem">
                    <a href="#" class="gEmPedigreeTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmPedigreeTableItemDesc">Кот, порода</div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="pageIndexSeparator"></div>
<div class="gEmSingleItem gEmPhotoBox">
    <div class="gEmSinglePartTitle">Фотогалерея</div>
    <div class="gEmPhotoGallBox">
        <a class="fancybox gEmPhotoGallItem" href="gallery/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="gallery/1_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="gallery/2_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="gallery/3_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="gallery/4_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="gallery/1_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="gallery/2_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="gallery/3_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="gallery/4_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="gallery/1_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="gallery/2_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="gallery/3_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="gallery/4_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="gallery/1_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="gallery/2_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="gallery/3_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="gallery/4_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="gallery/1_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="gallery/2_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="gallery/3_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
        <a class="fancybox gEmPhotoGallItem" href="gallery/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="gallery/4_s.jpg" class="gEmPhotoGallThumb" alt="" /></a>
    </div>
</div>
<div class="pageIndexSeparator"></div>
<div class="gEmSingleItem gEmLittersBox">
    <div class="gEmSinglePartTitle">Пометы</div>
    <table class="gEmLittersTable" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td>
                <div class="gEmLittersTableItem">
                    <a href="#" class="gEmLittersTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmLittersTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td class="gEmLittersTableLitters">AII, AI, C9, B6</td>
        </tr>
        <tr>
            <td>
                <div class="gEmLittersTableItem">
                    <a href="#" class="gEmLittersTableItemImg">
                        <img src="img/index-cat-empty.png" />
                    </a>
                    <div class="gEmLittersTableItemDesc">Кот, порода</div>
                </div>
            </td>
            <td class="gEmLittersTableLitters">AII, AI, C9, B6</td>
        </tr>
    </table>
</div>
<div class="pageIndexSeparator"></div>
<div class="gEmSingleItem gEmProgressBox">
    <div class="gEmSinglePartTitle">Достижения</div>
</div>
</div>
<% include footer.html %>